<mat-dialog-content>
  <div class="container">
    <h1 class="title"><i class="fa fa-user"></i> Editeaza cont: </h1>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input placeholder="Parola noua..." matInput type="password" formControlName="password" (keyup)="keyPress($event)">
        <mat-error *ngIf="!editForm.get('password').valid && editForm.get('password').touched">Introduceti o noua parola!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Confirmare parola..." matInput type="password" formControlName="confirm_password">
        <mat-error *ngIf="!editForm.get('confirm_password').valid && editForm.get('confirm_password').touched">Parola introdusa nu coincide!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Telefon nou..." matInput type="tel" formControlName="phone">
        <mat-error *ngIf="!editForm.get('phone').valid && editForm.get('phone').touched">Introduceti un numar de telefon valid!</mat-error>
      </mat-form-field>
      <div class="custom__button__position">
        <button [disabled]="!editForm.valid" class="btn btn-success custom__button" type="submit">Salveaza modificarile!</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
