div.container {
  width: 40vw;
  height: auto;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}

.suggested__price {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  size: 7px;
}

.container > * {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.container form {
  width: 100%;
}

.custom__button {
  margin-top: 3vh;
}
