div.container {
  width: 40vw;
  height: auto;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.container form {
  width: 100%;
}
