/*.add__details__container {*/
  /*display: flex;*/
  /*justify-content: center;*/
/*}*/

.ad__title {
  display: flex;
  justify-content: center;
}

.my__carousel {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}


.carousel__item {
  width: 700px;
  height: 500px;
}

agm-map {
  width: 800px;
  height: 600px;
}

.map__class {
  display: flex;
  justify-content: center;
}

.map__label {
  display: flex;
  justify-content: center;
}

.text__label {
  display: flex;
  justify-content: flex-start;
  margin-left: 300px;
}

.description__container {
  margin-left: 200px;
  margin-right: 200px;
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
  color: red;
}
