<h2 class="title">Utilizatori: </h2>
<div *ngFor="let user of users" class="description__container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informații utilizator
        </mat-panel-title>
        <mat-panel-description>
          Date utilizator
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{user.username}}</p>
      <p>{{user.email}}</p>
      <p>{{user.phone}}</p>
      <p>{{user.lastLoginDate}}</p>
      <p>{{user.lastPasswordResetDate}}</p>
      <mat-action-row>
        <button  *ngIf="user.enabled" mat-raised-button mat-button color="warn" (click)="blockUser(user)">Blochează cont!</button>
        <button  *ngIf="!user.enabled"mat-raised-button mat-button color="primary" (click)="unblockUser(user)">Deblochează cont!</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
