<h2 class="title">Utilizatori: </h2>
<div *ngFor="let user of users" class="description__container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informații utilizator
        </mat-panel-title>
        <mat-panel-description>
          Click pentru mai multe detalii...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Username: {{user.username}}</p>
      <p>E-mail: {{user.email}}</p>
      <p>Telefon: 0{{user.phone}}</p>
      <p>Ultima logare: {{user.lastLoginDate}}</p>
      <p>Ultima resetare de parolă: {{user.lastPasswordResetDate}}</p>
      <mat-action-row>
        <button  *ngIf="user.enabled" mat-raised-button mat-button color="warn" (click)="blockUser(user)">Blochează cont!</button>
        <button  *ngIf="!user.enabled"mat-raised-button mat-button color="primary" (click)="unblockUser(user)">Deblochează cont!</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
