<h1>Anunturi: </h1>
<div class="custom__container">
  <div *ngFor="let ad of userService.ads | paginate: {itemsPerPage: 5, currentPage: page}; let i = index">
    <mat-card class="card__class">
      <mat-card-header>
        <mat-card-title>{{ ad.title}}</mat-card-title>
        <mat-card-subtitle>{{ ad.adType }} - {{ad.adItemType}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image height="500px"  [src]="ad.image">
      <mat-card-actions class="viewAddButton">
        <button mat-raised-button mat-button color="primary" >Vizualizeaza Anunt</button>
      </mat-card-actions>
    </mat-card><br>
  </div>
</div>
<div class="myPaginationContainer">
  <pagination-controls class="myPagination" (pageChange)="page = $event"
                       previousLabel="Inapoi"
                       nextLabel="Inainte" maxSize="5">
  </pagination-controls>
</div>
