.card__class {
  /*max-width: 600px;*/
  width: 300px;
  margin-right: 10px;
}

.custom__container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: flex-start !important;
}

.viewAddButton {
  display: flex;
  justify-content: center;
}

.myPaginationContainer {
  display: flex;
  justify-content: center;
}

.ads__title {
  display: flex;
  justify-content: center;
}
